@import '../../app.scss';

.portfolio {
  background-color: rgb(249, 248, 230);
  padding-top: 50px;
  padding-bottom: 50px;

  @include desktop {
  }

  @include tablet {
  }

  @include mobile {
    // padding-top: 40px;
  }
}
.wrapper {
  max-width: 1360px;
  margin: auto;

  .creative,
  .creation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;

    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      flex-direction: column;
    }

    .image {
      flex: 1;
      display: grid;
      place-items: center;

      .bg {
        background: {
          image: url('/bg.png');
          size: cover;
          position: center center;
          repeat: no-repeat;
        }

        width: 400px;
        border: none;
        border-radius: 15px;
        position: relative;
      }

      .imageContainer {
        text-align: center;
        padding-top: 30px;

        img {
          width: 80%;
          margin-bottom: 0;

          @include mobile {
            width: 75%;
          }
        }
      }
    }

    .desc {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 40px;

      @include tablet {
        align-items: center;
        padding-top: 30px;
        text-align: center;
      }

      @include mobile {
        align-items: center;
        padding-top: 30px;
        text-align: center;
      }

      h2 {
        font-size: 40px;
        text-transform: capitalize;

        @include mobile {
          font-size: 30px;
        }
      }

      p {
        text-transform: capitalize;
        padding-right: 300px;

        @include tablet {
          padding: 0 60px;
        }

        @include mobile {
          padding: 0 60px;
        }
      }

      button {
        background: orangered;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        text-transform: capitalize;
        padding: 10px 30px;
        color: white;
        cursor: pointer;
      }
    }
  }

  .creation {
    background-color: rgb(193, 191, 147);
    padding: 50px;
    border-radius: 25px;
    position: relative;
    display: flex;
    padding-top: 50px;
    gap: 50px;
    align-items: center;
    justify-content: center;

    @include tablet {
      border-radius: 0%;
    }

    @include mobile {
      border-radius: 0%;
    }

    .desc {
      flex: 1;

      h2 {
        font-weight: bold;
      }

      p {
        padding-right: 200px;

        @include tablet {
          padding: 0 60px;
        }

        @include mobile {
          padding: 0 40px;
        }
      }
    }

    .image {
      flex: 1;

      img {
        width: 500px;
        border-radius: 25px;

        @include mobile {
          width: 350px;
        }
      }
    }
  }
}
